<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navbar.ejs') %>
        <%- include('../includes/alert.ejs') %>
        
            <%- body %>  
            <%- include('../pages/Auth/signin.ejs') %>          
            <%- include('../pages/Auth/signup.ejs') %>          
            <%- include('../pages/Auth/PackageModal.ejs') %>          
            <%- include('../includes/footer.ejs') %>
        </body>

</html>