<section class="bd_banner">
    <div class="container">
        <div class="row">
            <div class="bd_banner_main text-center w-100">
                <h1>All Festival Theme</h1>
                <!-- <p class="text-center">The birthday Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quae. -->
                </p>
            </div>
            <!-- <div class="w-100 text-center">
                <button class="btn bd_create_btn">Create Birthday Invitation</button>
            </div> -->
        </div>
    </div>
</section>


<section class="step_panel mt-5 ">
    <div class="container">
        <div class="w-100">
            <h3 class="text-center w-100 mt-2 mb-5">All Festival Themes:</h3>
            <hr />
        </div>

        <!-- <% if(fest.length){ for(var i=0; i< fest.length; i++) {%>
            <% if(allFestivalThemeToArray && allFestivalThemeToArray.includes( fest[i].id ) ){ %>
                <%= fest[i].festivalName %>
            <% } %>
        <% } } %>
        <div id="allvalfest"></div> -->

                            <div class="form-group pret">
                                <label for="exampleFormControlSelect1">Sort By</label>
                                <select class="form-control select2 childpret" id="festivalname" name="festivalname[]"
                                    multiple="multiple" data-placeholder="Select Festival Event"
                                    data-dropdown-css-class="select2-purple" style="width: 100%; color: purple;">
                                    <option value="" disabled="disabled">Choose Festival</option>
                                    <!-- <option value="all">All</option> -->
                                    <% if(fest.length){ for(var i=0; i< fest.length; i++) {%>
                                        <option value="<%= fest[i].id%>" <% if(allFestivalThemeToArray &&
                                            allFestivalThemeToArray.includes( fest[i].id ) ){ %> selected <% } %>>
                                                <%= fest[i].festivalName %>
                                        </option>
                                        <% } } %>


                                </select>
                            </div>

                            <div class="row d-flex justify-content-center" id="festival-all">
                                <input type="hidden" value="<%= process.env.BASE_URL %>" id="baseurls" />
                                <% for(var i=0; i< theme.length; i++) { %>
                                    <div class="card customcard">
                                        <img src="/uploads/sample/<%= theme[i].subcategoryImage %>" class="card-img-top"
                                            alt="...">

                                        <div class="card-body">

                                            <!-- <a class="btn btn-info" onclick="setFestivalModal('<%= theme[i].subcategoryImage %>','<%= theme[i].subcategoryUniqueCode %>','<%= authId %>')" data-toggle="modal" data-target="#birthdayThemeModal" href="#">Preview</a> -->
                                            <input type="hidden" id="hidauthval" value="<%= loginAuthCheck %> " />
                                            <input type="hidden" id="hidfestarrval"
                                                value="<%= allFestivalThemeToArray %> " />
                                            <% if (loginAuthCheck) { %>
                                                <a class="btn btn-info"
                                                    onclick="setFestivalModal('<%= theme[i].subcategoryImageScreenShot %>','<%= theme[i].subcategoryUniqueCode %>','<%= authId %>')"
                                                    data-toggle="modal" data-target="#birthdayThemeModal"
                                                    href="#">Preview</a>&nbsp;
                                                <!-- <input class="wishlistdiv" type="checkbox" <% if( allFestivalThemeToArray  && (allFestivalThemeToArray.includes(theme[i].subcategoryUniqueCode))){ %>  checked  <% } %>   id="birthdaycheckbox_<%= theme[i].subcategoryUniqueCode %>"  value="<%= theme[i].subcategoryUniqueCode %>" /> -->
                                                <% }else{ %>
                                                    <a class="btn btn-info" data-toggle="modal"
                                                        data-target="#LogInModal" href="#">Preview</a>
                                                    <% } %>

                                        </div>
                                    </div>
                                    <% } %>



                            </div>
                            <div class="row d-flex justify-content-center" id="festival-filter">
                                <div id="festival-card" class="row d-flex justify-content-center"></div>
                            </div>
    </div>
</section>



<hr />

<!-- modal -->
<div class="modal fade" id="birthdayThemeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xig Wishes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-box-modal pt-0">
                    <div class="w-100 text-center">
                        <img class="img-fluid" id="modalimgid" />

                        <form>
                            <input type="hidden" name="uniquecode" id="uniquecode">
                        </form>
                        <a class="btn btn-primary btn-sm" target="_blank" id="full_view"  >Full view</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/front/assets/select2/js/select2.full.min.js"></script>
<script>
    function setFestivalModal(imagename, uniquecode,authId) {
        console.log(imagename, uniquecode);
        document.getElementById("uniquecode").value = uniquecode;
        document.getElementById("modalimgid").src = "/uploads/sample/screenshot/" + imagename;
        if(authId){
            document.getElementById("full_view").href="/temp/holiday-review/download/"+authId+"/"+uniquecode+"/null"; 
        }else{
            document.getElementById("full_view").style.display = 'none'; 
        }
    }
</script>

<script>
    var authValue = $("#hidauthval").val();
    var festival_cat_id;
    $("#festivalname").on('change', function (e) {
        console.log($("#festivalname"));
        festival_cat_id = $("#festivalname").val();

        var baseUrl = $("#baseurls").val();
        var sortnewajaxholiday = baseUrl + "/holidays/sort/ajax/new";

        //ajax//
        $("#festival-card").html('');
        $("#allvalfest").html('');
        
        $.ajax({
            //url: "http://localhost:9128/holidays/sort/ajax/new",
            url: sortnewajaxholiday,
            type: "POST",
            data: { festival_id: festival_cat_id },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                $("#allvalfest").html(festival_cat_id);
                $('#festival-all').hide();
                $('#festival-all').addClass('festvalsortcls');
                $('#festival-filter').show();
                $.each(result.subcategorys, function (key, value) {
                    var img = "'" + value.subcategoryImageScreenShot.toString() + "'";
                    var code = "'" + value.subcategoryUniqueCode.toString() + "'";
                    //var authId = "'" + result.authId.toString() + "'";
                    var arrid = "birthdaycheckbox_" + value.subcategoryUniqueCode;
                    var htmldata = '';
                    htmldata += '<div class="card customcard">';
                    htmldata += '<img src="/uploads/sample/screenshot/' + value.subcategoryImageScreenShot + '" class="card-img-top" />';
                    htmldata += '<div class="card-body" id="ll">';

                    if (authValue) {
                        var authId = "'" + result.authId.toString() + "'";
                        htmldata += '<a class="btn btn-info" onclick="setFestivalModal(' + img + ',' + code + ',' + authId + ')" data-toggle="modal" data-target="#birthdayThemeModal" href="#">Preview</a>';   
                    } else {
                        htmldata += '<a class="btn btn-info" data-toggle="modal" data-target="#LogInModal" href="#">Preview</a>';
                    }

                    //condition
                    htmldata += '</div>';
                    htmldata += '</div>';
                    $("#festival-card").append(htmldata);

                });

            }, error: function (err) {
                console.log(err);
            }
        })
        //ajax//
    });




    $('.select2').select2({
        templateSelection: formatState,
        templateResult: function(option) {
            //alert(option.element);
            console.log(option.element);
        // if(option.element && (option.element).hasAttribute('hidden')){
        //         return null;
        //     }
            if(!option.element){
                return null;
            }
            return option.text;
        }
    });
    



    function generateRandomColor() {
        let color = "#";
        for (let i = 0; i < 3; i++)
        color += ("0" + Math.floor(Math.random() * Math.pow(16, 2) / 2).toString(16)).slice(-2);
        return color;
        
    }

    function formatState(state) {
        if (state.id) {
            var randomClr = generateRandomColor();
            return $('<span style="background-color:' + randomClr + '; color: white; padding: 0.1rem; height:100%;">' + state.text + '</span>');
        }
    };

    $(document).ready(function () {

        var authValue = $("#hidauthval").val();
        var festArrValue = $("#hidfestarrval").val();
        //alert(authValue);
        var baseUrl = $("#baseurls").val();
        var fullplusPathUrl = baseUrl + "/holidays/set-holidays-theme";
        var fullminusPathUrl = baseUrl + "/holidays/remove-holidays-theme";
        var sortajaxholiday = baseUrl + "/holidays/sort/ajax";


        var sortnewajaxholiday = baseUrl + "/holidays/sort/ajax/new";

        //$('#festival-filter').hide();
        $('#festival-all').removeClass('festvalsortcls');
        //ajax call for sorting result //
        ///////////set remove theme ajax////////
        $('#ll').on('click', function () {
            alert("jikolk");

        });
        $('.card-body').on('click', '.wishlistdiv', function () {
            alert("sorting works");
            var uniquecode = $(this).attr('value');
            if ($(this).prop("checked")) {
                //alert("checked");
                $.ajax({
                    //url: "http://localhost:9128/holidays/set-holidays-theme",
                    url: fullplusPathUrl,
                    type: "POST",
                    data: { uniquecode: uniquecode },
                    dataType: 'json',
                    success: function (result) {
                        alert(result.msg);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            } else {
                //alert("unchecked");
                $.ajax({
                    //url: "http://localhost:9128/holidays/remove-holidays-theme",
                    url: fullminusPathUrl,
                    type: "POST",
                    data: { uniquecode: uniquecode },
                    dataType: 'json',
                    success: function (result) {
                        alert(result.msg);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

        });
        ///

        ////multiple selectbox onchange/////
    });

</script>
<script>
    function sortajax(a) {
        var uniquecode = a;

        // var baseUrl = $("#baseurls").val();
        var baseUrl = document.getElementById("baseurls").value;
        var addedUrl = baseUrl + "/holidays/set-holidays-theme";
        var removedUrl = baseUrl + "/holidays/remove-holidays-theme";

        alert(document.getElementById(a).checked);
        if ($("#" + a).prop("checked")) {
            alert("checked");
            $.ajax({
                //url: "http://localhost:9128/holidays/set-holidays-theme",
                url: addedUrl,
                type: "POST",
                data: { uniquecode: uniquecode },
                dataType: 'json',
                success: function (result) {
                    alert(result.msg);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } else {
            alert("unchecked");
            $.ajax({
                //url: "http://localhost:9128/holidays/remove-holidays-theme",
                url: removedUrl,
                type: "POST",
                data: { uniquecode: uniquecode },
                dataType: 'json',
                success: function (result) {
                    alert(result.msg);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    }
</script>