<section class="bd_banner">
    <div class="bd_banner_main text-center">
        <h1>User Profile</h1>
        <!-- <p class="text-center">The birthday Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quae.</p> -->
    </div>
    <!-- <div>
        <button class="btn bd_create_btn">Create Birthday Invitation</button>
    </div> -->
</section>
<section class="form-area">
    <div class="container">

        <form action="/profile/action" method="POST" enctype="multipart/form-data">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Name</label> 
                    </div>
                    <div class="col-md-10">
                        <input id="name" type="text" placeholder="Enter your name..." name="name" value="<%= data.name %>" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Email</label> 
                    </div>
                    <div class="col-md-10">
                        <input name="email" id="email" type="email" value="<%= data.email %>" readonly class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Company Mobile</label> 
                    </div>
                    <div class="col-md-10">
                        <input id="tel" type="tel" placeholder="Enter your name..." name="mobile" value="<%= data.mobile %>" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label >Company Name</label> 
                    </div>
                    <div class="col-md-10">
                        <input id="cname" type="text" placeholder="Enter your name..." name="companyName" value="<%= data.companyName %>" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Company Logo</label> 
                    </div>
                    <div class="col-md-8">
                        <input id="clogo" type="file" placeholder="Enter your name..." name="companyLogo" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <% if(data.companyLogo){ %>
                            <img class="img-fluid" style="width: 90px;"
                                src="/uploads/companyLogo/<%= data.companyLogo %>">
                            <% } %>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Home Address</label> 
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" name="homeAddress" id="homeAddress"><%= data.homeAddress %></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Office Address</label> 
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" name="officeAddress" id="officeAddress"><%= data.officeAddress %></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Service 1</label> 
                    </div>
                    <div class="col-md-10">
                        <input name="service1" id="service1" type="text"
                        value="<%= data.service1 %>"
                        class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Service 2</label> 
                    </div>
                    <div class="col-md-10">
                        <input name="service2" id="service2" type="text" value="<%= data.service2 %>" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Service 3</label> 
                    </div>
                    <div class="col-md-10">
                        <input name="service3" id="service3" type="text" value="<%= data.service3 %>" class="form-control" />
                    </div>
                </div>
               
                <div class="row mb-3">
                    <div class="col-md-2">
                         
                    </div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</section>

