<!DOCTYPE html>
<html>

<head>
    <title>Happy Birthday</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- html2canvas -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.esm.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.js"></script>
    
    <%- theme ? '<style>' + theme.subcategoryCss + '</style>' : '' %>
    
</head>

<body>
    <% if(theme){ %>
    <div class="container">
        <div id="photodownload" class="bg"
            style="background: url('/uploads/sample/<%= theme ? theme.subcategoryImage : null %>') no-repeat;">
            <div class="logo">
                <img src="/uploads/companyLogo/<%= userInfo ? userInfo.companyLogo : null %>">
            </div>

            <div class="birth-text">
                <h2><%= contact ? contact.name : '' %>’s</h2>
                <h3>Birthday</h3>
            </div>

            <div class="top-row">
                <ul>
                    <li><a href="#">Residential</a></li>
                    <li><a href="#">Commercial</a></li>
                    <li><a href="#">Invesment</a></li>
                </ul>
            </div>

            <div class="birtha-row">
                <div class="birtha-pic">
                    <img src="/uploads/birthdayContact/<%= contact ?  contact.contactPic : null %>">
                </div>
            </div>

            <div class="footer-box">
                <ul>
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i> <a href="#">
                            <%= userInfo ? userInfo.mobile : "+91 8902496474" %>
                        </a></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">
                            <%= userInfo ? userInfo.email : "sales@xigmapro.com" %>
                        </a></li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">
                            <%- userInfo ? userInfo.officeAddress : "2nd Floor, Shaila Tower, J1/16, Sector V, Bidhannagar, Kolkata, West Bengal 700091" %>
                        </a></li>
                </ul>
            </div>

        </div>
    </div>
    <% } %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        // html2canvas
        jQuery(document).ready(function () {
            // screenshot();
        });

        function screenshot() {
            html2canvas(document.getElementById("photodownload"), { allowTaint: true, useCORS: true }).then(function (canvas) {
                downloadImage(canvas.toDataURL(), "template.png");
            });
        }

        function downloadImage(uri, filename){
        //console.log(uri)
        var link = document.createElement('a');
        if(typeof link.download !== 'string'){
            window.open(uri);
        }
        else{
            link.href = uri;
            link.download = filename;
            accountForFirefox(clickLink, link);
        }
    }

    function clickLink(link){
        link.click();
    }

    function accountForFirefox(click){
        var link = arguments[1];
        document.body.appendChild(link);
        click(link);
        document.body.removeChild(link);
    }
    </script>
</body>

</html>