<div class="basic-form-area mg-b-40">
    <%- theme.subcategoryCss %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div id="photodownload" class="bg"
                            style="background: url('/uploads/sample/<%= theme.subcategoryImage %>') no-repeat;">
                            <div class="logo">
                                <img src="/uploads/companyLogo/<%= userInfo.companyLogo %>">
                            </div>

                            <div class="birth-text">
                                <h2>Rossa’s</h2>
                                <h3>Birthday</h3>
                            </div>

                            <div class="top-row">
                                <ul>
                                    <li><a href="#">Residential</a></li>
                                    <li><a href="#">Commercial</a></li>
                                    <li><a href="#">Invesment</a></li>
                                </ul>
                            </div>

                            <div class="birtha-row">
                                <div class="birtha-pic">
                                    <img src="/uploads/birthdayContact/<%= contact.contactPic %>">
                                </div>
                            </div>

                            <div class="footer-box">
                                <ul>
                                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i> <a href="#">
                                            <%= userInfo.mobile %>
                                        </a></li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">
                                            <%= userInfo.email %>
                                        </a></li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">
                                            <%= userInfo.officeAddress %>
                                        </a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>