<% if(sliders){ %>
    <% for(var i=0; i< 1; i++) { %>
        <section class="bd_banner" style="background-image:url('/uploads/slider/<%= sliders[i].image %>');">
            <div class="bd_banner_main text-center">
                <h1>Edit Birthday</h1>
            </div>
            <div>
                <a class="btn bd_create_btn" href="/birthday/list" style="color: white;">View Birthday Lists</a>
            </div>
        </section>
        <% }} %>

            <!-- <a href="/birthday/list" class="btn btn-primary">birthday list</a>
<a href="/birthday" class="btn btn-primary">birthday theme list</a> -->
            <section class="form-area">
                <div class="container">

                    <form action="/birthday/edit-birthday/action" method="POST" enctype="multipart/form-data">
                        <div class="row d-flex justify-content-center align-items-center custom_bg">
                            <div class="col-md-10">
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Name<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="Enter your name..."
                                            name="name" value="<%=data.name %>">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Birthday<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" class="form-control date" name="birthday" id="birthday"
                                            value="<%=data.birthday %>">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select class="form-control" name="gender" id="gender">
                                            <option value="male" <% if(data.gender=='male' ){ %> selected <%}%> >male
                                            </option>
                                            <option value="female" <% if(data.gender=='female' ){ %> selected <%}%>
                                                    >female</option>
                                            <option value="others" <% if(data.gender=='others' ){ %> selected <%}%>
                                                    >others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Email<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input id="email" type="email" name="email" placeholder="example@gmail.com"
                                            class="form-control" value="<%=data.email %>">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Phone<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input id="phone" name="mobile" type="tel" placeholder="+91 9876543210"
                                            class="form-control" value="<%=data.mobile %>">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Contact Pic<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" name="contactPic" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img style="width:100px;height:100px;"
                                            src="/uploads/birthdayContact/<%=data.contactPic%>" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        <input type="hidden" name="id" value="<%=data.id%>" />
                                        <button type="button" class="btn btn-primary">Reset</button>
                                        <button type="submit" class="btn btn-secondary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>