<section class="bd_banner">
    <div class="container">
        <div class="row">
            <div class="bd_banner_main text-center w-100">
                <h1>Selected Birthday Theme</h1>
                <!-- <p class="text-center">The birthday Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quae. -->
                </p>
            </div>
            <!-- <div class="w-100 text-center">
                <button class="btn bd_create_btn">Create Birthday Invitation</button>
            </div> -->
        </div>
    </div>
</section>

<section class="step_panel mt-5 ">
    <div class="container">
        <div class="w-100">
            <h3 class="text-center w-100 mt-2 mb-5">My favorite Selected Birthday Themes:</h3><hr/>
        </div>
        

        <div class="row d-flex justify-content-center">
            <% for(var i=0; i< theme.length; i++) { %>
            <div class="card customcard" >
                <img src="/uploads/sample/<%= theme[i].subcategoryImage %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <a class="btn btn-info" onclick="setBirthdayModal('<%= theme[i].subcategoryImage %>','<%= theme[i].subcategoryUniqueCode %>')" data-toggle="modal" data-target="#birthdayThemeModal" href="#">Preview</a>
                </div>
            </div>
            <% } %>
            

            <!-- <div class="template_slider mt-5 w-100">

                <div class="slider-box w-100">
                    <div class="owl-carousel birthday2 owl-theme">
                        <% for(var i=0; i< theme.length; i++) { %>
                            
                        <div class="item">
                            <img alt="" src="/uploads/sample/<%= theme[i].subcategoryImage %>">
                            
                                <a class="btn btn-info" onclick="setBirthdayModal('<%= theme[i].subcategoryImage %>','<%= theme[i].subcategoryUniqueCode %>')" data-toggle="modal" data-target="#birthdayThemeModal" href="#">Preview</a>

                        </div>
                        <% } %>
                    </div>
                </div>
            </div> -->
            
            
        </div>
    </div>
</section>




<hr/>
<!-- modal -->
<div class="modal fade" id="birthdayThemeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xig Wishes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="popup-box-modal pt-0">
                <div class="w-100 text-center">
                    <img class="img-fluid" id="modalimgid" />
                    <form>
                        <input type="hidden" name="uniquecode" id="uniquecode">
                    </form>
                </div>     
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function setBirthdayModal(imagename,uniquecode){  
        document.getElementById("uniquecode").value = uniquecode;
        document.getElementById("modalimgid").src= "/uploads/sample/"+imagename;
    }
   
  </script>
 