<section class="banner-panel">
    <div class="owl-carousel owl-theme">
        <% if(sliders){ %>
            <% for(var i=1; i< sliders.length; i++) { %>
        <div class="item">
            <img alt="" src="/uploads/slider/<%= sliders[i].image %>">
        </div>
        <% }} %>
    </div>
</section>
<section class="work-panel">
    <div class="container">
        <% if(howwork){ %>
            <div class="row d-flex justify-content-around">
                <div class="col-md-12">
                    <%- howwork.description %>
                </div>
            </div>
        <% } %>   
    </div>
</section>

<section class="end-less-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Endless ways to make</h2>
                <p>your design your own.</p>
                
            </div>
        </div>

        <div class="slider-box">
            <div class="owl-carousel music owl-theme">
                <% if(designs){ %>
                    <% for(var i=0; i< designs.length; i++) { %> 
                        <div class="item design-img">
                            <img alt="" src="/uploads/design/<%= designs[i].image %>">
                            <h4><%= designs[i].title %></h4>
                            <p><%- designs[i].description %></p>
                        </div>                        
                <% }} %>        
            </div>
        </div>

        <div class="callto-action">
            Get Started
        </div>

        <div class="col-md-12 mt-5">
            <hr>
        </div>

    </div>
</section>

<section class="featured-panel">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <h2>
                    Features
                </h2>
                <p>
                    Quickly create beautiful invitations, slideshows, cards and collages, <br>
                    then share them with the people you love.

                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <% if(features){ %>
                        <% for(var i=0; i< features.length; i++) { %> 
                            <div class="col-md-4 text-center">
                                <a href="/<%= features[i].urlTitle %>" style="text-decoration: none;color: black;">
                                    <div class="grid-box-panel">
                                    <div class="image-small feature-img">
                                        <img alt="" src="/uploads/feature/<%= features[i].image %>">
                                    </div>
                                    <h3><%= features[i].title %></h3>
                                    <p>
                                        <%- features[i].description %>
                                    </p>
                                   </div>
                                </a>
                            </div>                  
                    <% }} %>                    
                </div>
            </div>
            <!-- <div class="col-md-4 bg-deepblus">
                <div class="right-panel">
                    <h3>
                        The Best Event Planner
                    </h3>
                    <p>
                        Quickly create beautiful invitations, slideshows, cards and collages, then share them with the
                        people you love.
                    </p>
                    <ul class="venue-list">
                        <li><a href="#">Wedding Cakes</a></li>
                        <li><a href="#">Photo,Video</a></li>
                        <li><a href="#">Venue Selection</a></li>
                        <li><a href="#">Manage your Guest List</a></li>
                        <li><a href="#">Unforgatabel Time</a></li>
                        <li><a href="#">Venue Finding</a></li>
                    </ul>
                    <button class="btn btn-light view-m">
                        View More
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="testimosials">
    <div class="container">
        <div class="row">
            <h2 class="testimonials-titel text-center w-100">
                Testimonials
            </h2>

            <div class="testimonilas-box w-100">
                <div class="owl-carousel testimonials owl-theme">
                    <% if(testimonials){ %>
                        <% for(var i=0; i< testimonials.length; i++) { %>
                    <div class="item">
                        <p>
                            <%- testimonials[i].description %>
                        </p>
                    </div>
                    <% }} %>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="faq-titel">
                    Got questions?
                </h2>
                <p>
                    We've got answers!
                </p>
            </div>
            <div class="col-10 mx-auto">
                <div class="accordion" id="faqExample">
                    <% if(qnas){ %>
                        <% for(var i=0; i< qnas.length; i++) { %>
                            <div class="card">
                                <div class="card-header p-2" id="heading<%=i%>">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse<%=i%>" aria-expanded="true"
                                            aria-controls="collapse<%=i%>">
                                            Q: <%= qnas[i].question %>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse<%=i%>" class="collapse "
                                    aria-labelledby="heading<%=i%>" data-parent="#faqExample">
                                    <div class="card-body qna-desc">
                                        <%- qnas[i].answer %>
                                    </div>
                                </div>
                            </div>
                    <% }} %>
                </div>

            </div>
        </div>
    </div>
</section>

<div id="overlay" class="overlayhome">
    <div class="cv-spinnerss">
        <span class="spinnerss"></span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var expirePackage = `<%= expirePopup %>`;
        console.log('expirePackage',expirePackage);
        if(expirePackage && expirePackage =='1'){
            $('#expiremodal').modal('show');
        }

        
        
        $(document).ajaxSend(function () {
            $(".overlayhome").fadeIn(1000);
        });
        $.ajax({
            type: 'GET',
            success: function (data) {
                //console.log(data);
            }
        }).done(function () {
            setTimeout(function () {
                $(".overlayhome").fadeOut(1000);
            }, 500);
        });



        

        

    });
</script>