<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcome-heading">
                                <h2>Template</h2>
                            </div>
                            <ul class="breadcome-menu">
                                <li><a href="/">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod"><a href="/temp">Template</a> </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="breadcome-list shadow-reset">
                    <div class="breadcome-heading">
                        <h2>Events</h2>
                    </div>
                    <div id="tabs" class="row">
                        <div class="col-lg-2"><a id="tab1" class="btn btn-success">Birthday</a></div>
                        <div class="col-lg-2"><a id="tab2" class="btn btn-success">Anniversary</a></div>&nbsp;
                        <div class="col-lg-2"><a id="tab3" class="btn btn-success">Festival</a></div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- birthday tab content -->
<div class="container tab-container" id="tab1C">

    <div class="data-table-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <% for(var i=0; i< theme.length; i++) { %>
                            <div class="col-lg-3">
                                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                                    <div class="income-title">
                                        <div class="main-income-head">
                                            <h1>Theme :</h1>
                                            <h6>
                                                <%= theme[i].subcategoryUniqueCode %>
                                            </h6>

                                            <div class="main-income-phara">

                                                <p><a href="/temp/review/<%= theme[i].subcategoryUniqueCode %>"
                                                        style="color: white;">Preview</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="income-dashone-pro">
                                        <!-- <img class="img-fluid" src="/uploads/themes/birthday/<%= theme[i].name %>" style="height:250px;width:250px;" /> -->
                                        <img class="img-fluid" src="/uploads/sample/<%= theme[i].subcategoryImage %>"
                                            style="height:250px;width:250px;" />
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- anniversary tab content -->
<div class="container tab-container" id="tab2C">
    <div class="data-table-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <% for(var i=0; i< themeAnniversary.length; i++) { %>
                            <div class="col-lg-3">
                                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                                    <div class="income-title">
                                        <div class="main-income-head">
                                            <h1>Theme :</h1>
                                            <h6>
                                                <%= themeAnniversary[i].subcategoryUniqueCode %>
                                            </h6>

                                            <div class="main-income-phara">

                                                <p><a href="/temp/anniversary-review/<%= themeAnniversary[i].subcategoryUniqueCode %>"
                                                        style="color: white;">Preview</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="income-dashone-pro">
                                        <!-- <img class="img-fluid" src="/uploads/themes/birthday/<%= themeAnniversary[i].name %>" style="height:250px;width:250px;" /> -->
                                        <img class="img-fluid"
                                            src="/uploads/sample/<%= themeAnniversary[i].subcategoryImage %>"
                                            style="height:250px;width:250px;" />
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Festival tab content -->
<div class="container tab-container" id="tab3C">
    <div class="data-table-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sort By</label>
                        <select class="form-control" id="festivalname">
                            <option value="" disabled="disabled">Choose Festival</option>
                            <option value="all">All</option>
                            <% if(fest.length){ for(var i=0; i< fest.length; i++) {%>
                                <option value="<%= fest[i].id%>">
                                    <%= fest[i].festivalName%>
                                </option>
                                <% } } %>


                        </select>
                    </div>
                    <div class="row" id="festival-all">
                        <% for(var i=0; i< themeFestival.length; i++) { %>

                            <div class="col-lg-3">
                                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                                    <div class="income-title">
                                        <div class="main-income-head">
                                            <h1>Theme :</h1>
                                            <h6>
                                                <%= themeFestival[i].subcategoryUniqueCode %>
                                            </h6>

                                            <div class="main-income-phara">

                                                <p><a href="/temp/anniversary-review/<%= themeFestival[i].subcategoryUniqueCode %>"
                                                        style="color: white;">Preview</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="income-dashone-pro">
                                        <!-- <img class="img-fluid" src="/uploads/themes/birthday/<%= themeFestival[i].name %>" style="height:250px;width:250px;" /> -->
                                        <img class="img-fluid"
                                            src="/uploads/sample/<%= themeFestival[i].subcategoryImage %>"
                                            style="height:250px;width:250px;" />
                                    </div>
                                </div>
                            </div>

                            <% } %>

                                
                    </div>
                    <div class="row" id="festival-filter">
                        <div id="festival-card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end test -->


<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#festival-filter').hide();
        $('#tabs div a:not(:first)').addClass('inactive');
        $('.tab-container').hide();
        $('#tab1C').show();

        // $('.container:first').show();
        console.log('hi ew');

        $('#tabs div a').click(function () {
            var t = $(this).attr('id');
            if ($(this).hasClass('inactive')) { //this is the start of our condition 
                $('#tabs div a').addClass('inactive');
                $(this).removeClass('inactive');
                $('.tab-container').hide();
                $('#' + t + 'C').fadeIn('slow');
            }
        });


        //ajax call


        $('#festivalname').on('change', function () {
            var festival_id = this.value;
            $("#festival-card").html('');
            var baseurl = `<%= baseurl %>`;
            var festivalAjax = baseurl + '/temp/festivalAjax';
            $.ajax({
                url: festivalAjax,
                type: "POST",
                data: { festival_id: festival_id },
                dataType: 'json',
                success: function (result) {
                    $('#festival-all').hide();
                    $('#festival-filter').show();
                    $.each(result.subcategorys, function (key, value) {
                       var htmldata = '';
                         htmldata += ' <div class="col-lg-3"> ';
                        // htmldata += '< div class="income-dashone-total shadow-reset nt-mg-b-30" >';
                        htmldata += '<div class="income-title">';
                        htmldata += '<div class="main-income-head">';
                        htmldata += '<h1>Theme :</h1>';
                        htmldata += '<h6>';
                        htmldata += value.subcategoryUniqueCode ;
                        htmldata += '</h6>';

                        htmldata += '<div class="main-income-phara">';

                        htmldata += '<p><a href="/temp/anniversary-review/' + value.subcategoryUniqueCode +'" style="color: white;">Preview</a></p>';
                        htmldata += '</div>';
                        htmldata += '</div>';
                        htmldata += '</div>';
                        htmldata += '<div class="income-dashone-pro">';
                        htmldata += '<img class="img-fluid" src="/uploads/sample/' + value.subcategoryImage + '"  style="height:250px;width:250px;" />';
                        htmldata += '</div>';
                        htmldata += '</div >';
                        htmldata += '</div > ';
                        $("#festival-card").append(htmldata);

                    });

                }, error: function (err) {
                    console.log(err);
                }
            })
        });


    });

</script>