<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="breadcome-heading">
                                <h2>Template Review</h2>
                            </div>
                            <ul class="breadcome-menu">
                                <li><a href="/">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod"><a
                                            href="/temp/review/<%= userInfo.id %>/<%= theme.uniqueCode %>">Review</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-primary" id="download">Download</button>
                        </div>
                        <div class="col-lg-1">
                            <a href="/temp" class="btn btn-primary">Theme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="basic-form-area mg-b-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6" id="photo">
                        <div class="personal-info-wrap shadow-reset">
                            <img src="/uploads/themes/birthday/<%= theme.name %>" class="card-theme-img-css" alt="profile">
                            <!-- <div class="widget-head-info-box card-middle-css">
                                <div class="persoanl-widget-hd">
                                    <h2>Happy Birthday</h2>
                                    <p><i class="fa fa-calendar color-white"></i> 11-02-2022</p>
                                </div>
                                <div class="social-widget-result">
                                    <span>
                                        <i class="fa fa-facebook"></i>
                                    </span> |
                                    <span>
                                        <i class="fa fa-twitter"></i>
                                    </span> |
                                    <span>
                                        <i class="fa fa-linkedin"></i>
                                    </span> |
                                    <span>
                                        <i class="fa fa-instagram"></i>
                                    </span>
                                </div>
                            </div> -->
                            <div class="widget-text-box card-footer-css">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h4><i class="fa fa-phone color-white"></i>
                                            <span class="color-white">
                                                <%= userInfo.mobile %>
                                            </span>
                                        </h4>
                                        <p><i class="fa fa-envelope color-white"></i>
                                            <span class="color-white">
                                                <%= userInfo.email %>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-right like-love-list">
                                            <img src="/uploads/companyLogo/<%= userInfo.companyLogo %>"
                                                class="img-circle circle-border m-b-md card-footer-logo" alt="logo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p><i class="fa fa-book color-white"></i>
                                            <span class="color-white">
                                                <%= userInfo.homeAddress %>
                                            </span>
                                        </p>
                                        <p><i class="fa fa-briefcase color-white"></i>
                                            <span class="color-white">
                                                <%= userInfo.officeAddress %>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>