<% if(sliders){ %>
    <% for(var i=0; i< 1; i++) { %>
        <section class="bd_banner" style="background-image:url('/uploads/slider/<%= sliders[i].image %>');">
            <div class="bd_banner_main text-center">
                <h1>Add Anniversary</h1>
            </div>
            <div>
                <a href="/anniversary/list" style="color: white;" class="btn bd_create_btn">View Anniversary Lists</a>
            </div>
        </section>
        <% }} %>

            <!-- <a href="/anniversary/list" class="btn btn-primary">Anniversary list</a>
<a href="/anniversary" class="btn btn-primary">Anniversary theme list</a> -->
            <section class="form-area">
                <div class="container">
                    <form action="/anniversary/edit/action" method="POST" enctype="multipart/form-data">
                        <div class="row d-flex justify-content-center align-items-center custom_bg">
                            <div class="col-md-10">
                                <input type="hidden" value="<%= data.id %>" name="anniversaryid" />
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Bride Name<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="brideName"
                                            placeholder="Enter your bride Name..." value="<%= data.brideName %>"
                                            name="brideName">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Groom Name<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="groomName"
                                            placeholder="Enter your groom Name..." value="<%= data.groomName %>"
                                            name="groomName">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Anniversary Day<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control date" name="anniversaryday"
                                            value="<%= data.anniversaryday %>" id="anniversaryday" type="date">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Email<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input id="email" type="email" value="<%= data.email %>" name="email"
                                            class="form-control" placeholder="example@gmail.com">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Phone<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input id="phone" value="<%= data.mobile %>" name="mobile" type="tel"
                                            placeholder="+91 8443234555" class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <label>Anniversary Image<span class="c-red">*</span></label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" type="file" name="anniversaryPic">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="/uploads/AnniversaryContact/<%=data.anniversaryPic%>"
                                            class="img-fluid" style="width:100px;height:100px;" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">

                                        <button type="submit" class="btn btn-secondary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>